
    #header {
        display: flex;
        justify-content: space-between; 
        height: 110px;
        align-items: center;
        }
        
        .myLogo { 
            width: 70px;
            height: 70px;
            display: flex;
            margin-left: 30px;
         }
        
        .primaryNav { 
            display: flex;
            justify-content: space-evenly;
         }
        
        #project { 
            margin: 10px;
            padding: 5px;
            width: 130px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
         }
        
         #about { 
             margin: 10px;
             padding: 5px;
             width: 130px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
          }
        
          #resume { 
              margin: 10px;
              padding: 5px;
              width: 130px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
           }
           #contact { 
               margin: 10px;
               padding: 5px;
               width: 130px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            }
        
        .search {
            margin-right: 30px;
            outline: 2px solid black;
            width: 200px;
            height: 30px;
            border-radius: 5px;
           text-align: center;
        }
        .searchgrp {
            display: flex;
        }
        .myprofile {
            display: flex;
            height: 600px;
            width: 1600px;
            justify-content: space-between;
            align-content: center;
            margin: 50px;
        }
         .profilePicture {
             display: flex;
             height: 600px;
             width: 788px;
             background-image: url("../images/IMG_7075\ 1.png");
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             align-items:center;
         } 
        .bio {
            display: flex;
            height: 600px;
            width: 788px;
            justify-content: center;
            align-items: center;
            font-size: large;
        } 
    
       .flexContainer {
           display:inline-flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           padding:20px;
           margin: 20PX;
           gap:20px;
           flex-wrap: wrap;
       }

       .myskills{
           display: flex;
           justify-content: space-evenly;
           padding: 20px;
           align-items: center;
           width: 33%;
       }

       .skillsTitle {
           text-align: center;
           padding:20px;
       }

       .imgSkill {
           height:300px;
           display: flex;
           justify-content: center;
           align-items:center;
           padding: 20px;
           margin:20px;

       }


        .userResearch {
            margin: 40px;    
        }
        .userEmpath {
            margin: 40px;
        }
        .userTesting {
            margin: 40px;
        } 
        .uiSkills {
            margin: 40px;
        }
        .sketchAnddesign {
            margin: 40px;
        }
        .prototyping {
            margin: 40px;
        }
    
        #footer {
            outline: 2px solid red;
            display: flex;
            justify-content: space-between;
            height: 110px;
        }
    .otherworks {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px;
    }
    .socialmedia {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px;
    }
    
    .button {
        outline: 2px solid red;
        height: 30px;
        width: 200px;
        padding: 15px;
        margin-right: 45px;
    }
    
    .caseStudy {
        display: flex;
        height: 30px;
        width: 300px;
    
    }
    .workGrid {
        display: grid;
        padding: 40px;
        grid-template-rows: 415px 415px;
        grid-template-columns: auto auto;
        grid-row-gap: 50px;
        }
        .project1 {
        background-color: #F4DF38;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        margin-bottom: 15px;
        font-size: 20px;
        }
        .project2 {
        background-color:darkorange;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        margin-bottom: 15px;
        font-size: 20px;
        }
        button {
            border-radius: 12px;
            margin-top: 40px;
            font-size: 20px;
            color: black;
            padding: 10px;
            width: 200px;
        } 
    
        .project3 {
        background-color: #A2D0C9;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        margin-bottom: 15px;
        font-size: 20px;
        }

        .project4 {
            background-color:blueviolet;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 10px;
            margin-bottom: 15px;
            font-size: 20px;
            }